/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  background-color:#f8f8f8;
  width:600px;
}

.header{
   /*width:600px*/
   font-size:30px;
   text-align:center;
   margin-top: 10px;
   margin-right: 0px;
   margin-bottom: 10px;
   margin-left: 0px;
}

#station{
   text-align:center;
   font-size:30px;
   margin: 0px;
}

#address{
   text-align:center;
   font-size:15px;
   margin-top: 10px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;

}

footer{
  text-align:right;
}
